import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

 Cargar el dataset
dataset = pd.read_csv('dataset.csv')  # Reemplaza 'nombre_del_archivo.csv' con el nombre real de tu archivo

 Separar las características (X) y la variable objetivo (y)
X = dataset.drop('Customer Status', axis=1)  # Reemplaza 'Variable Objetivo' con el nombre real de tu variable objetivo
y = dataset['Customer Status']

 Dividir el dataset en conjunto de entrenamiento y conjunto de prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

 Crear y entrenar el modelo de regresión logística
model = LogisticRegression()
model.fit(X_train, y_train)

 Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

 Calcular la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)
print('Precisión del modelo:', accuracy)

In [69]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings("ignore")

# Cargar el dataset
df = pd.read_csv('dataset.csv')  # Reemplaza 'tu_archivo.csv' con el nombre de tu archivo de datos

In [ ]:
#Convertir las clases stayed y joined en una sola
df['Customer Status'] = df['Customer Status'].replace({'Joined': 'Stayed'})

In [71]:
#convertir variables categoricas en variables numéricas
#churned 1
#stayed 0
label_encoder = LabelEncoder()
df['Customer Status'] = label_encoder.fit_transform(df['Customer Status'])

# Me habia convertido churned en 0
inverted_labels = 1 - df['Customer Status']
df['Customer Status'] = inverted_labels

In [159]:
df_encoded = df

In [160]:
for column in df_encoded.columns:
    # Verificar si la columna es de tipo 'object' (categórica)
    if df_encoded[column].dtype == 'object':
        # Aplicar LabelEncoder a la columna categórica
        df_encoded[column] = label_encoder.fit_transform(df_encoded[column])

Según los estándares modernos, es un conjunto de datos relativamente pequeño, con solo 7043 registros, donde cada registro usa 38 atributos para describir el perfil de un cliente de una Telecom en California, y 1869 de ellos son clientes que abandonaron la compañia.

df.info()

In [164]:
df_encoded.head()

,Gender,Age,Married,Number of Dependents,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0,37,1,0,2,9,5,1,42.39,0,...,1,65.6,593.30,0.00,0,381.51,974.81,0,5,20
1,1,46,0,0,0,9,5,1,10.69,1,...,1,-4.0,542.40,38.33,10,96.21,610.28,0,5,20
2,1,50,0,0,0,4,4,1,33.65,0,...,0,73.9,280.85,0.00,0,134.60,415.45,1,1,2
3,1,78,1,0,1,13,3,1,27.82,0,...,0,98.0,1237.85,0.00,0,361.66,1599.51,1,2,18
4,0,75,1,0,3,3,5,1,7.38,0,...,1,83.9,267.40,0.00,0,22.14,289.54,1,2,14

### Las variables categoricas se encodean o se cambian a numeros y las variables numericas se normalizan o estandarizan depende el caso.

si tenemos un desbalance entra la clase a predecir deberiamos rellenar con datos creados, por ejemplo SMOTE

In [170]:
drop = ['Avg Monthly Long Distance Charges','Avg Monthly GB Download']

df.drop(drop, axis=1, inplace=True)

In [171]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [172]:
nan_values = df_encoded.isna().sum()
print(nan_values)

Gender                         0
Age                            0
Married                        0
Number of Dependents           0
Number of Referrals            0
Tenure in Months               0
Offer                          0
Phone Service                  0
Multiple Lines                 0
Internet Service               0
Internet Type                  0
Online Security                0
Online Backup                  0
Device Protection Plan         0
Premium Tech Support           0
Streaming TV                   0
Streaming Movies               0
Streaming Music                0
Unlimited Data                 0
Contract                       0
Paperless Billing              0
Payment Method                 0
Monthly Charge                 0
Total Charges                  0
Total Refunds                  0
Total Extra Data Charges       0
Total Long Distance Charges    0
Total Revenue                  0
Customer Status                0
Churn Category                 0
Churn Reason                   0
dtype: int64

In [173]:
nan_values = df_encoded.isnull().sum()
print(nan_values)

Gender                         0
Age                            0
Married                        0
Number of Dependents           0
Number of Referrals            0
Tenure in Months               0
Offer                          0
Phone Service                  0
Multiple Lines                 0
Internet Service               0
Internet Type                  0
Online Security                0
Online Backup                  0
Device Protection Plan         0
Premium Tech Support           0
Streaming TV                   0
Streaming Movies               0
Streaming Music                0
Unlimited Data                 0
Contract                       0
Paperless Billing              0
Payment Method                 0
Monthly Charge                 0
Total Charges                  0
Total Refunds                  0
Total Extra Data Charges       0
Total Long Distance Charges    0
Total Revenue                  0
Customer Status                0
Churn Category                 0
Churn Reason                   0
dtype: int64

In [176]:
df_encoded.head()

,Gender,Age,Married,Number of Dependents,Number of Referrals,Tenure in Months,Offer,Phone Service,Multiple Lines,Internet Service,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0,37,1,0,2,9,5,1,0,1,...,1,65.6,593.30,0.00,0,381.51,974.81,0,5,20
1,1,46,0,0,0,9,5,1,1,1,...,1,-4.0,542.40,38.33,10,96.21,610.28,0,5,20
2,1,50,0,0,0,4,4,1,0,1,...,0,73.9,280.85,0.00,0,134.60,415.45,1,1,2
3,1,78,1,0,1,13,3,1,0,1,...,0,98.0,1237.85,0.00,0,361.66,1599.51,1,2,18
4,0,75,1,0,3,3,5,1,0,1,...,1,83.9,267.40,0.00,0,22.14,289.54,1,2,14

In [175]:
X = df_encoded.drop('Customer Status',axis=1)

y = df_encoded['Customer Status']

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.25,random_state=47)

model = LogisticRegression()

model.fit(X_train, y_train)

importance = model.coef_[0]
for i, v in enumerate(importance):
    feature_name = X_train.columns[i]  # Obtener el nombre de la característica desde X_train
    print('Feature: %s, Score: %.5f' % (feature_name, v))

Feature: Gender, Score: 0.00403
Feature: Age, Score: 0.05786
Feature: Married, Score: 0.00293
Feature: Number of Dependents, Score: -0.01628
Feature: Number of Referrals, Score: -0.07764
Feature: Tenure in Months, Score: 0.06312
Feature: Offer, Score: 0.04146
Feature: Phone Service, Score: 0.00180
Feature: Multiple Lines, Score: 0.01669
Feature: Internet Service, Score: 0.00888
Feature: Internet Type, Score: 0.00476
Feature: Online Security, Score: -0.00628
Feature: Online Backup, Score: -0.00141
Feature: Device Protection Plan, Score: -0.00248
Feature: Premium Tech Support, Score: -0.00689
Feature: Streaming TV, Score: -0.00078
Feature: Streaming Movies, Score: -0.00095
Feature: Streaming Music, Score: 0.00428
Feature: Unlimited Data, Score: 0.00841
Feature: Contract, Score: -0.03106
Feature: Paperless Billing, Score: 0.01133
Feature: Payment Method, Score: 0.00151
Feature: Monthly Charge, Score: 0.08047
Feature: Total Charges, Score: 0.00418
Feature: Total Refunds, Score: 0.02045
Feature: Total Extra Data Charges, Score: 0.00551
Feature: Total Long Distance Charges, Score: 0.00536
Feature: Total Revenue, Score: -0.00541
Feature: Churn Category, Score: -0.16633
Feature: Churn Reason, Score: -0.51988

In [95]:
# Voy a limpiar el dataset con las variables que claramente no me interesan

### Nuestro objetivo es tratar de predecir si un cliente va a abandonar la compañia, nuestro porblema es de clasificacion binaria con una variable objetivo desbalanceada.

El desequilibrio de clases puede presentar desafíos al entrenar un modelo de ML, ya que el modelo tiende a crear un sesgo hacia la clase mayoritaria y puede tener dificultades para aprender patrones y hacer predicciones precisas para la clase minoritaria.

In [96]:
from sklearn.model_selection import train_test_split

# Extract feature and target arrays
X, y = df.drop('Customer Status', axis=1), df[['Customer Status']]

In [145]:
# df.isnull().sum()

La mayoría de nuestros datos son categóricos.
    Probaremos encoding.
Los datos no contienen valores nulos
    Esto simplifica nuestra tarea, ya que no habrá necesidad de manejar valores faltantes
Nuestros datos numéricos se almacenan como int64 o float64
    Dependiendo de la magnitud de los valores almacenados, esto podría representar una buena oportunidad para optimizar la memoria y el almacenamiento del sistema.

In [98]:
df['Customer Status'].value_counts()

Customer Status
0    5174
1    1869
Name: count, dtype: int64

Está claro que existe un desequilibrio de clases en nuestro conjunto de datos porque el 26,5 % de los clientes abandonaron mientras que el 73,5 % de los clientes se quedaron.

Dado que los modelos basados en árboles de decisión, como XGBoost, son susceptibles al sesgo de frecuencia, debemos abordar el desequilibrio de clases de una de dos maneras para que la distribución sea más equitativa:

Submuestreo de la clase mayoritaria (el cliente se quedó)
Sobremuestrear la clase minoritaria (cliente agitado)

In [99]:
X,y = df.drop('Customer Status', axis = 1), df['Customer Status']

In [101]:
# Convertir variables categorias a una DMatrix de XGBoost para que puedan ser interpretadas.
# Extract text features
categ = X.select_dtypes(exclude=np.number).columns.tolist()

In [103]:
# Convertir a la category con Pandas
for col in categ:
    X[col] = X[col].astype('category')

In [143]:
X.shape

(7043, 32)

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [134]:
import xgboost as xgb

# Create regression matrices
dtrain_reg = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_reg = xgb.DMatrix(X_test, y_test, enable_categorical=True)

Después de construir las DMatrix, debemos elegir un valor para el parámetro objetivo. Le dice a XGBoost el problema de aprendizaje automático que está tratando de resolver y qué métricas o funciones de pérdida usar para resolver ese problema.

In [132]:
params = {
    'objective': 'binary:logistic',
    'eval_metric': 'logloss',
    'eta': 0.1,
    'max_depth': 3,
    'min_child_weight': 1,
    'gamma': 0,
    'subsample': 0.8,
    'colsample_bytree': 0.8,
    'alpha': 0.1,
    'lambda': 0.1,
    'seed': 42
}

In [133]:
num_rounds = 100  # Número de rondas de entrenamiento
model = xgb.train(params, dtrain_reg, num_rounds)

In [128]:
y_pred = model.predict(dtest_reg)

In [131]:
y_pred_prob = model.predict(dtest_reg, output_margin=True)

In [136]:
y_pred = (y_pred_prob > 0.5).astype(int)

In [137]:
y_pred

array([0, 0, 0, ..., 1, 0, 0])

In [139]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Precisión: %.2f" % precision)
print("Exhaustividad: %.2f" % recall)
print("Puntuación F1: %.2f" % f1)
print("Exactitud: %.2f" % accuracy)

Precisión: 1.00
Exhaustividad: 1.00
Puntuación F1: 1.00
Exactitud: 1.00

In [ ]:
# Calcular la curva ROC
fpr, tpr, thresholds = roc_curve(y_test, y_pred_prob)
auc = roc_auc_score(y_test, y_pred_prob)

# Graficar la curva ROC
plt.plot(fpr, tpr, label='Curva ROC (AUC = %.2f)' % auc)
plt.plot([0, 1], [0, 1], '--', color='gray', label='Clasificación aleatoria')
plt.xlabel('Tasa de falsos positivos')
plt.ylabel('Tasa de verdaderos positivos')
plt.title('Curva ROC')
plt.legend()
plt.show()

print("Área bajo la curva (AUC-ROC): %.2f" % auc)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

# Import non-linear ML algorithms
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from xgboost import XGBClassifier

In [ ]:
from sklearn.metrics import roc_curve, roc_auc_score
import matplotlib.pyplot as plt

fpr, tpr, thresholds = roc_curve(y_test, y_pred)
auc = roc_auc_score(y_test, y_pred)

plt.plot(fpr, tpr, label='Curva ROC (AUC = %.2f)' % auc)
plt.plot([0, 1], [0, 1], '--', color='gray', label='Clasificación aleatoria')
plt.xlabel('Tasa de falsos positivos')
plt.ylabel('Tasa de verdaderos positivos')
plt.title('Curva ROC')
plt.legend()
plt.show()

print("Área bajo la curva (AUC-ROC): %.2f" % auc)